/anisync-venv
Backend/db.sqlite3
__init__.py
*.pyc
__pycache__
db.sqlite3
/env
*.env
.vscode

Backend/anilist/__pycache__
Backend/anilist/migrations

Backend/Backend/__pycache__
Backend/Backend/migrations

Backend/transmission/__pycache__
Backend/transmission/migrations
AniSync.code-workspace
/Backend/ssh_keys