django==5.1.1
setuptools
wheel
django-environ
djangorestframework
bs4
cython
graphene
requests
feedparser
levenshtein
transmission_rpc
paramiko
cryptography
py-cord
aiodns
brotlipy
cchardet
msgspec
httpx
adrf
django-q2
psycopg2-binary
django-cors-headers