django==5.1.1
django-environ
djangorestframework
psycopg2
bs4
cython
graphene
request
feedparser
levenshtein
transmissionrpc
paramiko
cryptography
py-cord
aiodns
brotlipy
cchardet
msgspec
httpx
adrf
setuptools
django-q2