.animeIconDiv {
}

.animeIcon {
  max-width: 150px;
  height: auto;
}

@media screen and (max-width: 1300px) {
  .animeIcon {
    max-width: 4rem;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .animeIcon {
    max-width: 2rem;
    height: auto;
  }
}
