@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

.titleDiv {
  margin-left: 3rem;
  margin-right: 3rem;
  width: 40%;
  text-align: justify;
}

.title {
  color: red;
  font-family: "Exo 2", sans-serif;
  font-weight: 666;
  font-size: 17px;
  font-style: normal;
}

@media screen and (max-width: 1300px) {
  .titleDiv {
    margin-left: 15vw;
    margin-right: 15vw;
    width: 20vw;
    text-align: justify;
  }

  .title {
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  .titleDiv {
    margin-left: 10vw;
    margin-right: 5vw;
    width: 60%;
    text-align: justify;
  }

  .title {
    font-size: 13px;
  }
}
