.entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
}

@media screen and (max-width: 1300px) {
  .entry {
    margin: 0px;
    /* margin-bottom: 3%;
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.1fr 1fr; */
  }
}

@media screen and (max-width: 800px) {
  .entry {
    margin: 0px;
    /* margin-bottom: 3%;
    display: grid;
    grid-template-columns: 0.1fr 2fr 0.1fr 1fr; */
  }
}
