/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300'); */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

.releasedateDiv {
  display: grid;
  justify-items: right;
  max-width: 6vw;
}

.releasedate {
  color: chartreuse;
  text-align: right;
  font-family: "Exo 2", sans-serif;
  font-weight: 666;
  font-size: 17px;
  font-style: normal;
  margin-top: 5%;
  margin-bottom: 0px;
}

@media screen and (max-width: 1300px) {
  .releasedate {
    font-size: 12px;
    margin-right: 1vw;
  }
}

@media screen and (max-width: 800px) {
  .releasedateDiv {
    display: block;
  }

  .releasedate {
    font-size: 5px;
    margin-right: 1vw;
  }
}
