.titleDiv {
  margin-left: 3rem;
  margin-right: 3rem;
  width: 40%;
  text-align: justify;
}

.title {
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
  font-size: 20px;
}
