.navBarDiv {
  float: left;
}

.navBarButton {
  padding: 0;
  border: 0;
  width: 24px;
  height: 24px;
}

.navBarImg {
  width: 24px;
  height: 24px;
  background: linear-gradient(to right, #08073c, #08083d); /* Add gradient */
}

/* Media queries for screens smaller than 1300px */
@media screen and (max-width: 1300px) {
  .navBarDiv {
    float: none;
  }
}

/* Media queries for screens smaller than 800px */
@media screen and (max-width: 800px) {
  .navBarDiv {
    float: none;
  }
}
